---
---

<div>

  <article class="pt-16 pb-16">
    <h1 class="font-bold text-text-heading text-center text-2xl md:text-3xl pt-4 pb-2 overflow-hidden">Analizador de contraseñas</h1>
    <p class="text-center whitespace-nowrap overflow-auto">

        <p class="pb-8 text-center">
        <a href="/projecto" class="flex-none rounded-md bg-primary-blue px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary-blue focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">Analizar contraseña</a></p>
      </div>
        </div>
      </dl>
    </div>
  </div>
  <div class="absolute left-1/2 top-0 -z-10 -translate-x-1/2 blur-3xl xl:-top-6" aria-hidden="true">
    <div class="aspect-[1155/678] w-[92.1875vw] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
</div>
    </p>
  </article>

  <p id="blog">
    <h1 class="font-bold text-text-heading text-center text-2xl md:text-3xl pt-4 pb-2 overflow-hidden">
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_7.5%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        ¿Que es la ciberseguridad?
      </span>
      
    </h1>
    <ul class="mt-5 pb-10">
      <li>
        <strong><a>La ciberseguridad</a></strong> es la práctica de <a>proteger</a> tu información digital, dispositivos, aplicaciones, sistemas y datos de posibles amenazas digitales.
      </li>
    </ul>
    <h1 class="font-bold text-text-heading text-center text-2xl md:text-3xl pt-4 pb-2 overflow-hidden">
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_7.5%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Formas comunes de ciberdelincuencia
      </span>
      
    </h1>
    <ul class="mt-5 pb-10">
      <li>
        <strong><a>Phising</a></strong>.
        Son estafas llevadas a cabo por ciberdelincuentes que buscan engañarte, robar tu contraseñas y datos de tarjetas, haciendose pasar por una institución mediante correo o telefóno.

      </li>
      <li class="pt-5">
        <strong><a>Virus.</a></strong>
        Son programas maliciosos con fines de perjudicar, destruir archivos y controlar dispostivos. Hay una gran variedad de ellos y pueden infectar tus dispositivos mediante correos, descargas y programas antiguos sin actualizar, conectar unidades externas infectadas, como USB y discos.. Pueden provocar rendimiento lento, archivos dañados, fallos de programas, y robo de información.
      </li>
    </ul>

    <h1 class="font-bold text-text-heading text-center text-2xl md:text-3xl pt-4 pb-2 overflow-hidden">
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_7.5%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Ejemplos de ciberdelincuencia
      </span>
      
    </h1>
    <ul class="mt-5 pb-5">
      <li>
        <strong ><a>Phising Ejemplos.</a></strong>
      </li>
      <img src="../images/phishing-1.png" alt="Ejemplo de phising" class="mb-5">
      <img src="../images/phishing-2.png" alt="Ejemplo de phising 2" class="mb-5">
      <img src="../images/blackmail-1.png" alt="Ejemplo de blackmail" class="mb-5">
      <li class="pt-5">
        <strong ><a>Virus Ejemplos.</a></strong>
      </li>
      <img src="../images/ransomware.png" alt="Ejemplo de ransomeware" class="mb-5 h-[250px]">
      <img src="../images/virus-detected.png" alt="Ejemplo de virus detectado" class="mb-5 h-[250px]">
    </ul>

    <h1 class="font-bold text-text-heading text-center text-2xl md:text-3xl pt-4 pb-2 overflow-hidden">
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_7.5%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Cosas a tener en cuenta al navegar
      </span>
      
    </h1>
    <ul  class="mt-5 pb-10">
        <li>
          <strong ><a class="mb-10">Phising.</a></strong>
          Para evitar los phising al navegar, asegurese de.
          <ol>
            <li>● Chequear las direcciones de correo de sus remitentes, ya que si son falsas, se tratara de una estafa virtual</li>
            <li>● verifique las páginas a las que ingrese y asegurarse de que sean auntenticas.</li>
            <li>● <strong><a>NO</a></strong> comparta sus contraseñas con <strong><a>NADIE</a></strong>.</li>
          </ol>
        </li>
        <li class="pt-5">
          <strong ><a class="mb-10">Virus.</a></strong>
          La mejor forma de combatir a los virus, es evitandolos. Para ello debe ser precabido a la hora de navegar por internet.
          <ol>
            <li>● No abrir ofertas especiales dudosas, ni vinculos ni archivos adjuntados por correos electrónicos inesperados.</li>
            <li>● Evite el uso de programas piratas, ya que pueden contener virus dentro.</li>
            <li>● Mantenga actualizado sus sistemas operativos, dispositivos y programas.</li>
            <li>● Por último, si se acaba metiendo un virus, asegurese de tener un dispositivo cubierto con antivirus que permita eliminarlo.</li>
          </ol> 
        </li>
      </ul>
  </p>
</div>

