---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Ciberseguridad
      </span>
    </h1>
  </div>
  <div>
    <p class="mb-5">
      Hola! Nosotros somos estudiantes de la 
      <a>Universidad Tecnológica nacional</a>. 
      Venimos a concientizar sobre la <a>ciberseguridad</a>, 
      y los <a>riegos</a>, 
      de estar en contacto constante con las tecnologias.
    </p>
    
  </div>
</section>
