---
import HeaderLink from "./HeaderLink.astro";
---

<Fragment>
  <nav class="hidden md:inline">
    <section class="text-text-bold">
      <ul class="unset flex gap-4 [&>li]:p-0">
        <li><HeaderLink href="/">Inicio</HeaderLink></li>
        <li><HeaderLink href="#blog">Blog</HeaderLink></li>
        <li><HeaderLink href="/projecto">Projecto</HeaderLink></li>
      </ul>
    </section>
  </nav>
  <nav class="md:hidden">
    <button id="mobile-menu-open">
      <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"  aria-hidden="true" title="Abrir menú"/></svg>
    </button>
    <section
      id="mobile-menu"
      class="hide-menu fixed top-0 left-0 z-10 w-full h-full transition-transform bg-black/75 border-primary-blue"
    >
      <div class="bg-bg-body w-[75%] h-full drop-shadow-2xl">
        <button id="mobile-menu-close" class="px-6 h-[5rem] text-lg xml-[1px]">
          <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"  aria-hidden="true" title="Cerrar menú"/></svg>
        </button>
        <ul class="unset flex flex-col text-text-bold gap-4 [&>li]:p-0 px-6">
          <li><HeaderLink href="/">Inicio</HeaderLink></li>
          <li><HeaderLink href="#blog">Blog</HeaderLink></li>
          <li><HeaderLink href="/projecto">Projecto</HeaderLink></li>
        </ul>
      </div>
    </section>
  </nav>
</Fragment>

<script>
  // @ts-nocheck
  document.querySelector("#mobile-menu-open").addEventListener("click", () => {
    const menuElem = document.querySelector("#mobile-menu");
    menuElem.classList.remove("hide-menu");
    menuElem.classList.add("show-menu");
    document.body.style.overflow = "hidden";
  });

  document.querySelector("#mobile-menu-close").addEventListener("click", () => {
    const menuElem = document.querySelector("#mobile-menu");
    menuElem.classList.remove("show-menu");
    menuElem.classList.add("hide-menu");
    document.body.style.overflow = "auto";
  });
</script>

<style>
  .hide-menu {
    transform: translateX(-100%);
  }
  .show-menu {
    transform: translateX(0%);
  }
</style>
